* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
  
  
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }
  
  .header h1 {
    font-size: 40px;
  }
  
  .header input {
    width: 150px;
    font-size: 25px;
    cursor: pointer;
  }
  
  /* -------------------------------- */
  
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .popup-contenido {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    height: 500px;
    width: 500px;
  
  }
  
  .popup-contenido h2 {
    background-color: white;
    padding-bottom: 20px;
  }
  
  .popup-contenido button {
    width: 100px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
    margin: 10px;
  
  }
  
  .popup-form {
    margin-bottom: 10px;
    background-color: white;
  
  
  }
  
  .popup-form label {
    background-color: white;
  
  }
  
  .popup-form input {
    display: block;
    width: 250px;
    height: 20px;
    margin: 0 auto;
  
  }
  
  .dashBoard {
    margin: 30px;
  }
  
  .contenedorMovimientos {
    display: flex;
    gap: 40px;
  
  }
  
  .dineroDepositadoContainer {
    width: 800px;
    background-color: rgb(219, 154, 55);
    border-radius: 10px;
    border: 3px solid black;
  
  }
  
  
  .dineroExtraidoContainer {
    width: 800px;
    background-color: rgb(219, 154, 55);
    border-radius: 10px;
    border: 3px solid black;
  }
  
  
  .dineroTranferidoContainer {
    display: flex;
    flex-direction: column;
    width: 800px;
    background-color: rgb(219, 154, 55);
    border-radius: 10px;
    border: 3px solid black;
  }
  
  .dineroTranferidoContainer input {
    width: 400px;
  }
  
  .dashBoard button {
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .dashBoard h2 {
    padding-bottom: 10px;
    font-size: 50px;
  }
  
  .dashBoard #welcomeMessage {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .dashBoard #dineroDisponible {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .login {
    margin: 10px;
  }
  
  .login h2 {
    padding-bottom: 10px;
    font-size: 30px;
  }
  
  #otrosUsuarios {
    color: black;
    background-color: rgb(219, 154, 55);
    width: 600px;
    margin: 30px;
    border-radius: 10px;
    border: 3px solid black;
  
  }
  
  .conetedorUsuario {
  
    margin: 30px;
    border: 3px solid black;
    border-radius: 10px;
  
  }
  
  .chart-container{
    width: 600px;
    height: 600px;
  }